* {
  box-sizing: border-box;
}
html {
  background-color: #f2f6fa;
}
body {
  font-family: "Nunito", sans-serif;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Circe Rounded DM";
  src: url("../font//Circe\ Rounded\ DM.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}
