.button {
  position: absolute;
  left: 2%;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-color: transparent;

  margin-top: 25px;
  color: rgb(0, 115, 230);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .button {
    left: 5%;
    margin-top: 35px;
  }
}
